* {
  /* background-color: gray;  */
  padding: 0;
  margin: 0;
  font-family: "Urbanist", sans-serif;
}
.topContainer {
  /* background-color: aqua; */
  position: relative;
  width: 100%;
  height: 700px;
}
ul {
  list-style: none;
  /* top: 0; */
  /* background-color: #9ac100; */
}
.nav {
  z-index: 1;
  display: flex;
  flex-direction: row;
  height: 80px;
  position: relative;
  overflow: hidden;
  background-color:rgba(186, 149, 110,0.4);

  /* background-color:#18ea81; */

}
.nav .left {
  /* background: rgb(0, 0, 0); */
  flex: 2;
  height: 100%;
}
.nav .left img {
  /* background-color: red; */
  width: 190px;
  height: 80px;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 150px;
}
.nav .right {
  /* background-color: blue; */
  flex: 3;
  height: 100%;
}
.nav ul {
  display: flex;
  justify-content: right;
  /* background-color: rgb(30, 29, 29); */
  margin-right: 20px;
  height: 100%;
  align-items: center;
  cursor: pointer;
  color: aliceblue;
}
.nav li {
  margin: 15px;
  font-size: 20px;
  /* background-color: yellow; */
}
.nav li:hover {
  color: red;
  font-size: 21px;
}
.firstContainer {
  background-color: brown;
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
}
.firstContainer .textContainer {
  width: 300px;
  height: 300px;
  background-color: rgb(151, 139, 139);
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-30%);
  display: flex;
  opacity: 0.9;
}
/* .firstContainer .textContainer:hover ~ .firstContainer .textContainer h1{
    color: aquamarine;
} */
.firstContainer .textContainer:hover  {
  transition: all 0.3s ease-in-out;
  width: 330px;
  height: 330px;
  transform: rotate3d(180deg);
}
.firstContainer .textContainer h1 {
  color: white;
  font-weight: 900;
  /* letter-spacing: 2px; */
  font-weight: bolder;
}
.firstContainer .textContainer h1:hover {
  transition: transform 0.7s ease-in-out;
  transform: rotate(360deg);
  cursor: pointer;
}
.firstContainer .imageContainer {
  width: 100%;
  height: 780px;
}
.firstContainer .imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.secondContainer {
  /* background-color: rgb(131, 118, 118); */
  width: 90%;
  height: 700px;
  margin-left: 5vw;
  margin-top: 4vh;
  display: flex;
  position: relative;
}
.secondContainer .imageContainer {
  width: 100;
  height: 50%;
  flex: 2;
  margin-left: 10vh;
}
.secondContainer .imageContainer img {
  margin-top: 7vh;
  justify-content: center;
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.secondContainer .textContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  height: 93%;
  align-items: center;
  justify-content: center;
  /* background-color: gray; */
}
.secondContainer .textContainer .title {
  width: 70%;
  margin: 5vh;
  text-align: center;
}
.secondContainer .textContainer .content {
  width: 60%;
  text-align: center;
}

.thirdContainer {
  /* background-color: rgb(131, 118, 118); */
  width: 90%;
  height: 700px;
  margin-left: 5vw;
  margin-top: 4vh;
  display: flex;
  position: relative;
}
.thirdContainer .imageContainer {
  width: 100;
  height: 50%;
  flex: 2;
  margin-left: 10vh;
}
.thirdContainer .imageContainer img {
  margin-top: 7vh;
  justify-content: center;
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.thirdContainer .textContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.thirdContainer .textContainer .title {
  width: 70%;
  margin: 5vh;
  text-align: center;
}
.thirdContainer .textContainer .content {
  width: 60%;
  /* letter-spacing: 6px; */
  text-align: center;
}
.productContainer{
  display: flex;
  justify-content: center;
}
.products{
  width: 70%;
  height: 400px;
  display: flex;
  flex-direction: row;
  /* background-color: gray; */
  /* justify-content: center; */
}
.products .product{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 300px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-align: center;
  /* background-color: yellow; */
}
.products .product .imgContainer{
  width: 100%;
  height: 200px;
  margin: 10px;
  /* object-fit: cover; */
}
.products .product .imgContainer img{
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.products .product .imgContainer img:hover{
  width: 103%;
  height: 102%;
  transition: all 0.5s ease-in-out;
}
/* .products .product .imgContainer:hover img{
  display: block;
} */
.products .product .textContainer button{
  border-radius: 50px;
  width: 60px;
  height: 30px;
}



.products2{
  width: 70%;
  height: 400px;
  display: flex;
  justify-content: center;
}
.products2 .product2{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 300px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-align: center;
  /* background-color: yellow; */
}
.products2 .product2 .imgContainer2{
  width: 100%;
  height: 200px;
  margin: 10px;
  /* object-fit: cover; */
}
.products2 .product2 .imgContainer2 img{
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.products2 .product2 .imgContainer2 img:hover{
  width: 103%;
  height: 102%;
  transition: all 0.5s ease-in-out;
}
/* .products .product .imgContainer:hover img{
  display: block;
} */
.products2 .product2 .textContainer2 button{
  border-radius: 50px;
  width: 60px;
  height: 30px;
}
.contact1Container{
  width: 100%;
  height: 400px;
  position: relative;
  background-color: gray;
}

.contact1Container .textContainer{
  font-size: 2rem;
  color: white;
  position:absolute;
  top: 160px;
  left: 50px;
}
.contact1Container .imgContainer{
  width: 100%;
  height: 400px;

}
.contact1Container .imgContainer img{
  object-fit: cover;
}

.contact2Container {
  margin-top: 20px;
  /* background-color: gray; */
  width: 100%;
  height: 600px;
}
.contact2Container .textContainer{
  margin: 30px;
  word-spacing: 3px;
}
.contact2Container .textContainer p{
  padding: 10px;
}
.contact2Container form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 75%;
}
.contact2Container input{
  width: 600px;
  height: 30px;
  padding: 20px;
  margin: 10px;
  font-size: 1rem;
  margin-left: 0 auto;
}
.contact2Container textarea{
  width: 800px;
  font-size: 1rem;
  height: 150px;
  padding: 20px;
  margin: 10px;

}
.contact2Container form button{
  width: 100px;
  height: 40px;
  margin-top: 20px;
  background-color: yellow;
  border-radius: 30px;
}